<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
  {% block inner_head %}
  <meta charset="utf-8">
  <!-- goes in head -->
  {% block preamble %}
    <link rel="stylesheet" href={{cdn_css | safe}} type="text/css" />
    <script type="text/javascript" src={{cdn_js | safe}}></script>
  {% endblock %}
  {% endblock %}
</head>
{% endblock %}
{% block body %}
<body>
  {% block contents %}
    {{script | safe}}
    {{div | safe}}
  {%endblock%}
<br>
  *note for AAPL one can see the stock split in 2014(req. <a href="/">form resubmission</a>). Cute exercise.  
</body>
{%endblock%}
</html>
